body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Змінні */
:root {
  /* Змінні для тексту */
  --font-family: 'Montserrat', sans-serif;
  --font-h1: 120px;
  --font-h2: 48px;
  --font-h3: 36px;
  --font-text: 20px;
  --font-text2: 18px;
  --font-text3: 16px;
  --font-text4: 14px;
  --font-text5-medium: 14px;
  --font-text5-regular: 12px;
  --font-bold: 700;
  --font-medium: 500;
  --font-regular: 400;
  --line-height: 1.4;

  /* Змінні кольорів */
   --color-1: #FFFFFF; 
  --color-2: #000000; 
  --color-3: #646464; 
  --color-4: #9B2814; 
  --color-5: #0F7C7B; 
  --color-6: #BFA07A; 
  --color-not-active: #C2C2C2; 
  --color-not-active-text: #868686; 
  --color-7: #18B2B180;
  --color-8: #0B5959; 
}

/* Класи для текстів */
.h1 {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-h1);
}

.h2 {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-h2);
}

.h3 {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-h3);
}

.text {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--font-text);
  line-height: calc(var(--line-height) * 100%);
}

.text2 {
  font-family: var(--font-family);
  font-weight: var(--font-bold);
  font-size: var(--font-text2);
  line-height: calc(var(--line-height) * 100%);
}

.text3 {
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  font-size: var(--font-text3);
  line-height: calc(var(--line-height) * 100%);
}

.text4 {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--font-text4);
  line-height: calc(var(--line-height) * 100%);
}

.text5-medium {
  font-family: var(--font-family);
  font-weight: var(--font-medium);
  font-size: var(--font-text5-medium);
  line-height: calc(var(--line-height) * 100%);
}

.text5-regular {
  font-family: var(--font-family);
  font-weight: var(--font-regular);
  font-size: var(--font-text5-regular);
  line-height: calc(var(--line-height) * 100%);
}


/* Класи для кольорів */
.color-1 {
  color: var(--color-1);
}

.color-2 {
  color: var(--color-2);
}

.color-3 {
  color: var(--color-3);
}

.color-4 {
  color: var(--color-4);
}

.color-5 {
  color: var(--color-5);
}

.color-6 {
  color: var(--color-6);
}

.color-not-active {
  color: var(--color-not-active);
}

.color-not-active-text {
  color: var(--color-not-active-text);
}

.color-7 {
  color: var(--color-7);
}

.color-8 {
  color: var(--color-8);
}

/* Класи для фону */
.bg-color-1 {
  background-color: var(--color-1);
}

.bg-color-2 {
  background-color: var(--color-2);
}

.bg-color-3 {
  background-color: var(--color-3);
}

.bg-color-4 {
  background-color: var(--color-4);
}

.bg-color-5 {
  background-color: var(--color-5);
}

.bg-color-6 {
  background-color: var(--color-6);
}

.bg-color-not-active {
  background-color: var(--color-not-active);
}


.bg-color-7 {
  background-color: var(--color-7);
}

.bg-color-8 {
  background-color: var(--color-8);
}
